<div class="add-todo-form text-center">
  <h1>Add Todo</h1>
  <div class="form-group">
    <input class="form-control input-lg" placeholder="Add Todo..." autofocus #todoText />
    <br>
    <button class="btn btn-primary btn-block">Create</button>
  </div>
</div>

<div class="todo-list">
  <div *ngFor="let todo of todos">
      <div class="col-md-1 todo-margin">
        <input type="checkbox">
      </div>
      <div class="col-md-7 todo-margin">
        {{todo.text}}
      </div>
      <div class="col-md-4 todo-margin btns">
        <input type="button" class="btn btn-danger pull-right" value="Delete">
        <input type="button" class="btn btn-success pull-right" value="Edit">
      </div>
  </div>
</div>
